<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OK</title>
    <link rel="stylesheet" type="text/css" href="../static/ok-style.css">
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="../static/7eg9.gif" alt="your image">
        </div>
    </div>
    <div class="container2">
        <h1>Form successfully submitted</h1>
        <div class="form-container">
            <form method="get" action="/form">
                <button class="form-btn" type="submit">Submit another response</button>
            </form>
        </div>
    </div>
    <div class="dload-container">
        <form method="get" action="/">
            <button class="icon" type="submit"></button>
            <div class="tooltip">Admin</div>
        </form>
    </div>
</body>
</html>